@import "tailwindcss";

@theme {
  /* Tipografías */
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;

  /* Paleta Institucional Janeriana */
  --color-janeriano-marino: #0D1B4C;
  --color-janeriano-azul: #2F6FB8;
  --color-janeriano-rojo: #D62828; 
  --color-janeriano-dorado: #B8860B;
  --color-janeriano-celeste: #5DADE2;
  --color-janeriano-beige: #F4EDE1;
  --color-janeriano-gris: #E5E7EB;
  
  /* Nuevo color específico para el rol Docente */
  --color-janeriano-verde: #2E7D32; 
}